mixin timer(content, params)

  -
    if(!content.hours) content.hours = {};
    if(!content.minutes) content.minutes = {};
  // if(!content.seconds) content.seconds = {};

  a.timer&attributes(assign( content.attr||{}, attributes||{}))
    .timer__block
      .timer__logo
        img(data-delayed-attr="src|"+content.logo.src data-delayed-attr-delay="400|2000" style="visibility:hidden" alt="logo")
      if content.text
        .timer__text!=content.text
      if content.sum
        .timer__sum&attributes(content.sum.attr)&attributes(attributes)
      if content.title
        .timer__title!=content.title
      .timer__list
        if(content.days)
          .timer__item(data-stoloto-api=content.days.hide style="display:none;")
            .timer__item-index(data-stoloto-api=content.days.value) 00
            //-.timer__item-text(data-stoloto-api=content.days.text)
          .timer__item.timer__item_points(data-stoloto-api=content.days.hide style="display:none;") :

        //.timer__item(data-stoloto-api=content.hours.hide)
        //  .timer__item-index(data-stoloto-api=content.hours.value) 00
        //  //-.timer__item-text(data-stoloto-api=content.hours.text)

        //.timer__item.timer__item_points(data-stoloto-api=content.minutes.hide) :
        .timer__item(data-stoloto-api=content.minutes.hide).timer__item-minutes
          .timer__item-index(data-stoloto-api=content.minutes.value) 00
          //-.timer__item-text(data-stoloto-api=content.minutes.text)

        if(content.seconds)
          .timer__item.timer__item_points(data-stoloto-api=content.seconds.hide) :
          .timer__item(data-stoloto-api=content.seconds.hide)
            .timer__item-index(data-stoloto-api=content.seconds.value) 00
            //-.timer__item-text(data-stoloto-api=content.seconds.text)
      if content.subtitle
        .timer__subtitle!=content.subtitle

      .lotery__timer-btn !{content.button.text}

      .timer__label
        .timer__label-prize&attributes(content.labelPrize.attr)&attributes(attributes)
